<ion-view title="Bookmarks" id="page2">
	
	<!--<ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="secondary">-->

	<ion-nav-buttons side="right">
        <button class="button icon ion-search" ng-click="showFilterBar()"></button>
    </ion-nav-buttons>

    <!--</ion-nav-buttons>
    </ion-nav-bar>-->
    
    <ion-content ng-init="showBookmarks()" overflow-scroll="true" padding="true" class="has-header">
        
    	<ion-list ng-repeat="userbookmark in userbookmarks">
        	<ion-item ui-sref="menu.bookmarkDetails({eventid: userbookmark.eventid})">

                <h2>{{ userbookmark.eventName }}</h2>
                <!--<p>
                    {{ userbookmark.date | date:'dd-MM-yyyy' }}, {{ userbookmark.time   }} 
                </p>-->

            </ion-item>
        </ion-list>
    
    </ion-content>
</ion-view>