<ion-view title="BOOKMARKS" id="page2">
	
	<!--<ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="secondary">-->

	<ion-nav-buttons side="right">
        <button class="button icon ion-search" ng-click="showFilterBar()"></button>
    </ion-nav-buttons>

    <!--</ion-nav-buttons>
    </ion-nav-bar>-->
    
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <ion-refresher 
            on-refresh="doRefresh()"
            pulling-text="Pull to refresh..."
            refreshing-icon="ion-load-c">
        </ion-refresher>

    	<ion-list ng-repeat="userbookmark in userbookmarks">
        	<ion-item ui-sref="menu.bookmarkDetails({eventID: userbookmark.eventID})">
            <div class="userbookmarkdetails">
                <h2>{{ userbookmark.eventName }}</h2>
                <p>
                    {{ userbookmark.date | date:'dd-MM-yyyy' }}, {{ userbookmark.time   }} 
                </p>
            </div>
            </ion-item>
        </ion-list>
    
    </ion-content>
</ion-view>