<ion-view title="Events" id="page2">
	
	<!--<ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="secondary">-->

	<ion-nav-buttons side="right">
        <button class="button icon ion-search" ng-click="showFilterBar()"></button>
    </ion-nav-buttons>

    <!--</ion-nav-buttons>
    </ion-nav-bar>-->
    
    <ion-content ng-init="loadEvents()" overflow-scroll="true" padding="true" class="has-header">
        
        <ion-refresher 
            on-refresh="doRefresh()"
            pulling-text="Pull to refresh..."
            refreshing-icon="ion-load-c">
        </ion-refresher>

    	<ion-list ng-repeat="event in events">
        	<ion-item ui-sref="menu.eventDetails({eventID: event.eventID})">
                <h2>{{ event.eventName }}</h2>
                <p>
                    {{ event.date | date:'dd-MM-yyyy' }}, {{ event.time   }} 
                </p>

            </ion-item>
        </ion-list>
    
    </ion-content>
</ion-view>