<ion-view title="LOGIN FORM" id="page6" name="login-view">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list">
            <ion-list>
                <!--username=user1, password=user1-->
                <label class="item item-input" name="username">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-required="true" ng-model="user.name">
                </label>
                <label class="item item-input" name="password">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-required="true" ng-model="user.password">
                </label>
            </ion-list>
        </div>
            <div class="spacer" style="height: 10px;"></div>
            
            <a ng-click="loginUser(user)" id="login-button4" class="button button-color button-block">Log in</a>
            <!--<a ui-sref="menu.home" id="login-button4" class="button button-calm  button-block">Log in</a>
            <button class="button button-calm button-block" ng-click="login()">Login</button>-->

            <a ui-sref="menu.signup" id="login-button5" class="button button-outline button-calm button-block">Or create an account</a>
        </form>
    </ion-content>
</ion-view>