<ion-view title="Logout" id="page10" name="logout-view">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <p> Are you sure? </p>

            <div class="spacer" style="height: 40px;"></div>
            
            <a ng-click="logoutUser(user)" id="login-button4" class="button button-calm  button-block">Log out</a>
            <!--<a ui-sref="menu.home" id="login-button4" class="button button-calm  button-block">Log in</a>
            <button class="button button-calm button-block" ng-click="login()">Login</button>-->

            <a ui-sref="menu.signup" id="login-button5" class="button button-dark  button-block button-clear">Or create an account</a>
            
        </form>
    </ion-content>
</ion-view>