<ion-view title="Settings" id="page10" name="settings-view">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
    <div class="list card">

  		<a href="#" class="item item-icon-left">
    		<i class="icon ion-home"></i>
    		Terms of service
  		</a>

  		<a href="#" class="item item-icon-left">
    		<i class="icon ion-ios-telephone"></i>
    		Privacy Policy
  		</a>

  		<a href="#" class="item item-icon-left">
    		<i class="icon ion-wifi"></i>
    		Report a problem
  		</a>

  		<a href="#" class="item item-icon-left">
    		<i class="icon ion-card"></i>
    		Enter card information
  		</a>

		</div>

    </ion-content>
</ion-view>