.menu-left ion-content,.menu-left .item-complex .item-content{
	color: #2C3E50;
	background-color: #EEEEEE;
}

ion-list ion-item.active  a {
	color: #65C6BB !important;
    background-color: #2C3E50 !important; 
}

.bookmarked {
	color:yellow !important;
}